<% if !turbo_stream? && !turbo_frame? %>
  <%= content %>
<% else %>
  <% if turbo_frame? %>
    <turbo-frame id="modal">
  <% elsif turbo_stream? %>
    <turbo-stream action="update" target="modal"><template>
  <% end %>

  <%= tag.div id: "modal-container",
    data:
    {
      controller: "modal",
      modal_target: "container",
      modal_advance_history_url_value: advance_history_url,
      action: modal_action
    }.merge(transition_data),
    class: "relative z-10",
    role: "dialog",
    aria: {labeled_by: "modal-title", modal: true} do %>

    <%= tag.div id: "modal-overlay", class: "fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity",
      data: { modal_target: "overlay", action: overlay_action } %>

    <%= tag.div(id: "modal-outer", class: "fixed inset-0 z-10 overflow-y-auto", data: { modal_target: "modal" }) do %>
      <%= tag.div(id: "modal-inner", class: "flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0", data: { modal_target: "innerModal" }) do %>
        <%= tag.div(id: "modal-padding", class: padding_classes) do %>

          <% if close_button? %>
            <div class="absolute top-3 right-3">
              <%= content_tag "button",
                    type: "button",
                    aria: { label: "close" },
                    class: x_button_classes,
                    data: { action: close_action } do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="<%= x_icon_classes %>">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              <% end %>
            </div>
          <% end %>

          <%= content %>

        <% end # frame %>
      <% end # inner modal %>
    <% end # modal %>
  <% end # container %>

  <% if turbo_frame? %>
    </turbo-frame>
  <% elsif turbo_stream? %>
    </template></turbo-stream>
  <% end %>
<% end %>
