<!DOCTYPE html>
<html>
  <head>
    <title>Ultimate Turbo Modal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>
    <%= render partial: "shared/flash" %>

    <div class="container mx-auto mt-8 px-5">
      <%= yield %>
    </div>
  </body>
</html>
